{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>
<style>
  div {
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
}
  </style>
  <div class="summary" text-align: justify; >
   <p align="justify" style="color: green;">{{ career-profile.summary | markdownify }}</p>
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
